NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://dilumvishvajith18_db_user:QXmQU7Ykq23FPqIE@cluster0.avlawz8.mongodb.net/glx_industries?retryWrites=true&w=majority
JWT_SECRET=glx_industries_super_secret_jwt_key_2026_production
JWT_EXPIRES_IN=7d
FRONTEND_URL=https://glx-raxwo.netlify.app,https://demodistributioandwholesalesystem.netlify.app,http://localhost:5173,http://localhost:3000

# SMS Gateway Config (SMSlenz)
SMS_USER_ID=glx_admin
SMS_API_KEY=mock_dev_key
SMS_SENDER_ID=GLXINDUST
SMS_GATEWAY_URL=https://smslenz.lk/api/send-sms
SMS_ALERT_RECIPIENT=+94772268608